/* ----------------
    All reset
------------------ 
h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, th, td, img, form, map, fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	list-style: none;
	line-height: 1;
}
/* ---------------
    text link
------------------ 
a:link    { color: #0033CC; text-decoration: underline; }
a:visited { color: #0033CC; text-decoration: underline; }
a:hover   { color: #FF6600; text-decoration: underline; }
a:active  { color: #FF6600; text-decoration: underline; }
/* ---------------
    layout
------------------ 
body {
	margin: 0px;
	padding: 0px;
	color: #333333;
	font-size: 12px;
	font-family:"ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", "Meiryo", sans-serif;
	line-height: 1;
    text-align: center;
}
#wrapper {
	width: 970px;
	margin: 0px auto;
	text-align: left;
}
/*---------------------------------
	Å°ÉLÉÉÉbÉVÉìÉOêfíf
-----------------------------------
div#diagnosisColumn {
	width: 970px;
}
div#diagnosisColumn div.diagnosisPage {
	width: 810px;
	margin: 0px 80px;
}
div#diagnosisColumn div.diagnosisFormPage {
	clear: both;
	width: 960px;
	margin: 0px 5px;
	overflow: hidden;
	height: 100%;
	margin-bottom: 50px;
}
/*-------------------
ÅúêfífÉtÉHÅ[ÉÄ
--------------------*/
/*---------
ÉCÉìÉgÉç
---------
div#diagnosisColumn div.diagnosisFormPage p.comment001 {
	font-size: 14px;
	line-height: 24px;
	padding: 6px 8px 12px 8px;
}
/*-----------
ç∂ÉJÉâÉÄ
------------
div#diagnosisColumn div.diagnosisFormPage div.formBox {
	float: left;
	width: 471px;
	margin-left: 1px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox p.titleInput {
	width: 470px;
	height: 33px;
	margin-top: 4px;
	background: url(../img/backgrouond_shindanTitleInput.gif) no-repeat left top;
	text-indent: -9999px;
}
/*-----------
ïKê{ÉtÉHÅ[ÉÄ
------------
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile {
	width: 470px;
	margin: 10px 0px 0px 0px;
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile td,
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile th {
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
	line-height: 1.5;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile th.layout1 {
	width: 112px;
	height: 36px;
	background-color: #F7FFFF;
	font-weight: bold;
	text-align: left;
	padding: 12px 10px 12px 10px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile th.layout2 {
	width: 112px;
	height: 54px;
	background-color: #F7FFFF;
	font-weight: bold;
	text-align: left;
	padding: 12px 10px 12px 10px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile th.layout2 p {
	margin-top: 16px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile td {
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile ul {
	margin: 8px 8px 8px 0px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile td.IncomeNum1 {
	padding: 8px 10px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile td.IncomeNum1 p.IncomeNum2 {
	margin-top: 8px;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox table.formInputProfile span.sign01 {
	color: #FF0000;
	font-weight: normal;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox p.cashingButton {
	margin: 20px 0px 0px;
	text-align: center;
}
/*---------
óZéëó\ëzBox
----------
div#diagnosisColumn div.diagnosisFormPage div.formBox p.YuushiAmountM {
	height: 46px;
	padding: 14px 43px 6px 0px;
	background: url(/simulation/img/backgroundYuushiGaku1.gif) no-repeat left top;
	color: #E60000;
	font-size: 40px;
	text-align: right;
	font-family: Arial;
}
div#diagnosisColumn div.diagnosisFormPage div.formBox p.YuushiComment {
	padding-bottom: 12px;
	background: url(/simulation/img/backgroundYuushiGaku2.gif) no-repeat left bottom;
	padding: 10px 0px 10px 0px;
	color: #e50000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
/*-----------------
ñ∆ê”éñçÄ
-----------------
p.menseki {
	margin: 20px 0px 10px;
	padding: 0px 5px 0px 10px;
	line-height: 1.5;
	color: #666666;
}
/*------------
ÉGÉâÅ[
---------------*/
div.diagnosisFormPage div.errorBox {
	margin: 10px 0px 0px 0px;
	padding: 10px;
	border: 2px #FF3300 dotted;
	background-color: #FFE1E1;
/*
segoÅFliÇÃóvëfÇdivÇ…à⁄êA
*/
	color: #BD0B17;
	font-size: 12px;
	font-weight: bold;
	line-height: 2.0;
}
div.diagnosisFormPage div.errorBox ul {
}
div.diagnosisFormPage div.errorBox li {
	padding: 0px 0px 0px 0px;
	color: #BD0B17;
	font-size: 12px;
	font-weight: bold;
	line-height: 2.0;
}
/*---------
âEÉJÉâÉÄ
----------*/
div#diagnosisColumn div.diagnosisFormPage div.companyBox {
	float: right;
	width: 470px;
}
/*-------------
éÿì¸åÛï‚àÍóó
-------------*/
div.companyBox {
}
div.companyBox p.subTitleKouho {
	width: 470px;
	height: 30px;
	margin: 23px 0px 10px 0px;
	background: url(../img/backgrouond_shindanTitleCompanyList.gif) no-repeat left top;
	text-indent: -9999px;
}
/*-------------
éÿë÷Ç¶êÊåÛï‚àÍóó
-------------*/
div.companyBox p.subTitleOmatomeKouho {
	width: 470px;
	height: 30px;
	margin: 23px 0px 10px 0px;
	background: url(../img/backgrouond_shindanTitleCompanyOmatomeList.gif) no-repeat left top;
	text-indent: -9999px;
}
/*----------
ÉfÉtÉHÉãÉg
----------*/
div.companyBox p.defaultBoad {
	width: 470px;
	height: 265px;
	background: url(/simulation/img/background_defaultComment.gif) no-repeat left top;
	text-indent: -9999px;
}
/*-----------
êfífíÜ
----------*/
div.diagnosisFormPage div.companyBox p.roading {
	margin: 65px 0px 100px 0px;
	text-align: center;
}
/*------------
êfífåãâ 0â~
------------*/
div.companyBox div.disableDebt {
	margin: 0px 0px 40px;
	padding: 0px 0px 25px;
	background: url(/simulation/img/background_disableDebt3.gif) no-repeat left bottom;
}
div.companyBox div.disableDebt p.disableDebtComment1 {
	padding: 20px 20px 10px;
	background: url(/simulation/img/background_disableDebt2.gif) no-repeat left top;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.6;
}
div.companyBox div.disableDebt p.disableDebtTitle {
	width: 410px;
	height: 24px;
	margin: 0px 20px;
	padding: 17px 0px 0px 20px;
	background: url(/simulation/img/background_disableDebt1.gif) no-repeat left top;
}
div.companyBox div.disableDebt p.disableDebtTitle a {
	font-size: 14px;
	font-weight: bold;
}
div.companyBox div.disableDebt p.disableDebtComment2 {
	width: 398px;
	margin: 0px 20px 0px;
	padding: 15px;
	background: #FFFFFF;
	border: 1px #AAAAAA solid;
	line-height: 1.8;
	overflow: hidden;
}
/*----
1à 
----*/
div.companyBox p.defaultBoad {
	width: 470px;
	height: 265px;
/*	background: url(/simulation/img/background_defaultComment.gif) no-repeat left top;*/
	text-indent: -9999px;
}
div.companyBox div.no1Box {
	margin-bottom: 12px;
}
div.companyBox div.no1Box p.no1CompanyName {
	padding: 10px 0px 0px 24px;
	background: url(/simulation/img/background5starTop.gif) no-repeat left top;
	font-size: 16px;
	font-weight: bold;
}
html div.companyBox div.no1Box p.no1CompanyName {
	padding: 11px 0px 0px 24px;
}
div.companyBox div.no1Box div.no1BoxBottom {
	clear: both;
	width: 470px;
	padding-bottom: 6px;
	background: url(/simulation/img/background3starBottom.gif) no-repeat left bottom;
}
div.companyBox div.no1Box div.no1BoxBottom p.comment {
	padding: 3px 8px 5px 13px;
	font-size: 12px;
	line-height: 1.5;
}
div.companyBox div.no1BoxBottom img {
	float: left;
	margin: 0px 0px 0px 14px;
}
div.companyBox p.buttonNo1 {
	display: inline;
	clear: both;
	width: 173px;
	height: 42px;
	margin: 0px auto 8px auto;
	background: url(/simulation/img/background_5starButton.gif) no-repeat left 14px;
	text-indent: -9999px;
}
div.companyBox p.buttonNo1 a {
	display: block;
	clear: both;
	width: 173px;
	height: 42px;
	margin: 0px auto 8px auto;
	background: url(/simulation/img/background_5starButton.gif) no-repeat left 14px;
	text-indent: -9999px;
}
/*---------------
éÿÇËì¸ÇÍêÊÇÃèÓïÒ
-----------------
div.companyBox table.infoTable {
	float: left;
	width: 332px;
	margin: 0px 0px 0px 10px;
	border: 1px solid #00FF00
	border-collapse: collapse;
}
div.companyBox table.infoTable td,
div.companyBox table.infoTable th {
	padding: 6px 4px;
	border: 1px solid #00FF00;
	border-collapse: collapse;
	text-align: center;
}
div.companyBox table.infoTable th {
	width: 56px;
	line-height: 1.4;
	background-color: #00FF00
	white-space: nowrap;
}
div.companyBox table.infoTable td {
	width: 105px;
	line-height: 1.4;
	background-color: #FFFFFF;
}
*/

