/* 
--------------------------------------------------------------------------
00. 共通
01. トップページ
02. 絞り込み検索共通用
03. 検索後ページ
04. スピードキャッシング・チェック
05. コンテンツ原稿
06. シミュレーション
07. コラム
--------------------------------------------------------------------------
*/





/* 00. 共通
----------------------------------------------------------------------- */

.tt {
width:auto;
padding:0 0 0 35px;
font-size:16px;
color:#cc0000;
line-height:53px;
letter-spacing:0.1em;
text-align:left;
text-shadow:1px 1px 1px #e5e5e5;
background:url(../images/bg_tt.jpg) top left no-repeat;
clear:both;
}

.tt span {
padding:0 0 0 30px;
font-size:12px;
color:#333333;
line-height:53px;
letter-spacing:0;
text-align:left;
text-shadow:1px 1px 1px #e5e5e5;
}

.tt_l {
width:auto;
margin:0 0 10px 0;
padding:0 0 0 35px;
font-size:16px;
color:#cc0000;
line-height:53px;
letter-spacing:0.1em;
text-align:left;
text-shadow:1px 1px 1px #e5e5e5;
background:url(../images/bg_tt_l.jpg) top left no-repeat;
}

.st_01 {
width:auto;
font-size:18px;
font-weight:bold;
letter-spacing:0.1em;
line-height:50px;
color:#333333;
padding:0 0 5px 20px;
background:url(../images/bg_st_01.jpg) top left no-repeat;
}

.st_02 {
width:auto;
font-size:16px;
font-weight:bold;
letter-spacing:0.1em;
line-height:40px;
color:#333333;
padding:0 0 5px 15px;
background:url(../images/bg_st_02.jpg) top left no-repeat;
}

.st_03 {
width:auto;
font-size:14px;
font-weight:bold;
letter-spacing:0.1em;
line-height:35px;
color:#333333;
padding:0 0 0 15px;
margin-left:10px;
background:url(../images/bg_st_03.jpg) top left no-repeat;
}

table.normal th {
text-align:center;
font-weight:normal;
border:1px solid #ffffff;
background-color:#efefef;
}

table.normal td {
text-align:center;
border:1px solid #ffffff;
background-color:#ffffff;
}

	table.normal th,
	table.normal td {
	font-size:12px;
	color:#333333;
	line-height:18px;
	padding:8px;
	}

.text_area		{ width:auto; padding:20px 0px; margin:0 0 20px 0 ; }
.text_area p	{ font-size:14px; line-height:22px; color:#333333; }
.text_area_s	{ width:auto; padding:20px 0 0 10px; margin:0 0 20px 0 ; }
.text_area_s p	{ font-size:14px; line-height:22px; color:#333333; }

.text_area_bank,
.text_area_speed,
.text_area_omatome,
.text_area_huyou,
.text_area_otamesi,
.text_area_kinyu,
.text_area_soryo,
.text_area_smartphone {
width:auto;
min-height:110px;
font-size:14px;
line-height:22px;
padding:30px 175px 0 25px;
margin:0 0 40px 0;
}

	.text_area_bank			{ background:url(../images/bg_text_area_bank.jpg) top left no-repeat; }
	.text_area_speed		{ background:url(../images/bg_text_area_speed.jpg) top left no-repeat; }
	.text_area_omatome		{ background:url(../images/bg_text_area_omatome.jpg) top left no-repeat; }
	.text_area_huyou		{ background:url(../images/bg_text_area_huyou.jpg) top left no-repeat; }
	.text_area_otamesi		{ background:url(../images/bg_text_area_otameshi.jpg) top left no-repeat; }
	.text_area_kinyu		{ background:url(../images/bg_text_area_kinyu.jpg) top left no-repeat; }
	.text_area_soryo		{ background:url(../images/bg_text_area_souryou.jpg) top left no-repeat; }
	.text_area_smartphone	{ background:url(../images/bg_text_area_smartphone.jpg) top left no-repeat; }

.text_area_ranking {
width:auto;
min-height:85px;
font-size:14px;
line-height:22px;
padding:130px 25px 0 215px;
margin:10px 0 40px 0;
}

	.text_area_ranking	{ background:url(../images/bg_text_area_ranking.jpg) top left no-repeat; }


.card_info {
margin:0 0 10px 0;
padding:4px;
border:1px solid #dcdcdc;
box-shadow:0px 0px 0px 4px #efefef inset;
-box-shadow:0px 0px 0px 4px #efefef inset;
-webkit-box-shadow:0px 0px 0px 4px #efefef inset;
background-color:#ffffff;
}

	.card_info .st_name {
	font-size:18px;
	line-height:20px;
	color:#333333;
	padding:14px 0 36px 45px;
	background:url(../images/bg_st_name.jpg) top left no-repeat;
	}
	
	.card_info .col_cardface {
	float:left;
	width:190px;
	padding:0 20px 20px 20px;
	}
	
	.card_info .col_cardtxt {
	float:left;
	width:380px;
	padding:0 0 17px 0;
	}

		.card_info .col_cardtxt ul {
		width:auto;
		margin:0 0 15px 0;
		padding:0;
		list-style:none;
		}
	
			.card_info .col_cardtxt ul li {
			font-size:14px;
			line-height:24px;
			margin:0;
			padding:0 0 0 25px;
			background:url(../images/list_ya_blue_01.jpg) top left no-repeat;
			}

	.card_info .col_cardtxt p {
	font-size:12px;
	line-height:18px;
	color:#333333;
	}
	
	.card_info .table_cardinfo {
	clear:both;
	width:590px;
	margin:0 0 0 20px;
	}
	
	.card_info .matome_check {
	width:590px;
	margin:10px 0 0 20px;
	}
		.card_info .matome_check label {
		cursor:pointer;
		display:block;
		width:590px;
		padding:7px 0 8px 0;
		font-size:12px;
		color:#333333;
		line-height:14px;
		text-align:center;
		border-top:1px dotted #d39300;
		border-bottom:1px dotted #d39300;
		background-color:#ffecc0;
		}

		.card_info .matome_check label:hover { background-color:#fff2d5; }
		.card_info .matome_check input { margin:0 5px 0 0; padding:0; position:relative; top:2px; }

	.card_info .to_koushiki_page,
	.card_info .to_koushiki_page_l {
	clear:both;
	width:630px;
	margin:0;
	padding:30px 0 5px 0;
	text-align:center;
	background:#efefef url(../images/bg_cardinfo_submit.jpg) top left no-repeat;
	}

	.card_info .to_koushiki_page a {
	width:310px;
	height:50px;
	display:block;
	margin:0 auto;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.1em;
	line-height:50px;
	color:#ffffff;
	background:#efefef url(../images/bg_cardinfo_submit_b.png) top left no-repeat;
	}

	.card_info .to_koushiki_page a span { padding-left:16px; background:url(../images/list_ya_white_01.png) top left no-repeat; }
	.card_info .to_koushiki_page a:hover { color:#ffffff; background:#efefef url(../images/bg_cardinfo_submit_b.png) top left no-repeat; background-position:0px -50px; }


	.card_info .to_koushiki_page_l a {
	width:430px;
	height:50px;
	display:block;
	margin:0 auto;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.1em;
	line-height:50px;
	color:#ffffff;
	background:#efefef url(../images/bg_cardinfo_submit_bl.png) top left no-repeat;
	}

	.card_info .to_koushiki_page_l a span { padding-left:16px; background:url(../images/list_ya_white_01.png) top left no-repeat; }
	.card_info .to_koushiki_page_l a:hover { color:#ffffff; background:#efefef url(../images/bg_cardinfo_submit_bl.png) top left no-repeat; background-position:0px -50px; }


.yellow{background:#FDFC77; }



/* 01. トップページ
----------------------------------------------------------------------- */

.refine_search_index {
width:958px;
margin:15px auto 40px auto;
border:1px solid #dcdcdc;
background:url(../images/bg_refine_search_index.jpg) top left no-repeat;
}

.tt_refine_search {
float:left;
padding:41px 0 0 42px;
width:375px;
height:86px;
}

.st_refine_search {
float:left;
padding:41px 0 0 42px;
width:457px;
height:86px;
}


/* ============================= 絞り込み検索 ============================== */

.refine_search { clear:both; }
.refine_search table.system_table_sp,
.refine_search table.system_table { margin:0 0 0 1px; }
.refine_search table.system_table_sp { border-bottom:1px solid #ffffff; }
.refine_search table.system_table th,
.refine_search table.system_table td { border-bottom:1px solid #ffffff; }
.refine_search table.system_table .check-group td,
.refine_search table.system_table .radio-group td { border-bottom:none; }
.refine_search th {
font-size:12px;
font-weight:bold;
line-height:14px;
color:#333333;
text-align:left;
padding:0 10px 0 47px;
background:url(../images/list_ya_red_01.png) left center no-repeat;
}


/* チェックボックスメイントップページ用 ============================== */

.check-group { padding:10px 0 10px 0; }
.check-group input { display: none; }

.check-group ul.refine_button_index {
width:auto;
margin:0;
padding:0 0 6px 21px;
list-style:none;
text-align:left;
}

	.check-group ul.refine_button_index li {
	width:590px;
	height:90px;
	display:block;
	margin:0 0 10px 0;
	padding:0;
	}
	
	.check-group ul.refine_button_index li label {
	cursor: pointer;
	width:590px;
	height:90px;
	display:block;
	font-size:12px;
	line-height:18px;
	padding:0;
	margin:0;
	border:none;
	}

.check-group ul.refine_button_index li.ginkoukei label { background:url(../images/bg_refine_button_01.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button_index li.sokujitsu label { background:url(../images/bg_refine_button_02.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button_index li.omatome label { background:url(../images/bg_refine_button_03.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button_index li.smartphone label { background:url(../images/bg_refine_button_04.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button_index li.ginkoukei label img { position:absolute; top:27px; left:80px; }
.check-group ul.refine_button_index li.sokujitsu label img { position:absolute; top:27px; left:80px; }
.check-group ul.refine_button_index li.omatome label img { position:absolute; top:27px; left:80px; }
.check-group ul.refine_button_index li.smartphone label img { position:absolute; top:27px; left:80px; }

.check-group ul.refine_button_index li.ginkoukei label:hover,
.check-group ul.refine_button_index li.sokujitsu label:hover,
.check-group ul.refine_button_index li.omatome label:hover,
.check-group ul.refine_button_index li.smartphone label:hover { background-position:0px -90px; background-color:none; }
.check-group ul.refine_button_index li.ginkoukei label.checked,
.check-group ul.refine_button_index li.sokujitsu label.checked,
.check-group ul.refine_button_index li.omatome label.checked,
.check-group ul.refine_button_index li.smartphone label.checked { background-position:0px -180px; border:none; }
.check-group ul.refine_button_index li.ginkoukei label.checked:hover,
.check-group ul.refine_button_index li.sokujitsu label.checked:hover,
.check-group ul.refine_button_index li.omatome label.checked:hover,
.check-group ul.refine_button_index li.smartphone label.checked:hover { background-position:0px -270px; border:none; }

	.check-group ul li label:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);/*IE7*/
	}


/* チェックボックス ============================== */

.check-group { padding:5px 0 5px 0; }
.check-group input { display: none; }

.check-group label {
cursor: pointer;
width:157px;
display:block;
font-size:12px;
line-height:18px;
text-align:center;
padding: 9px 0;
margin:0 5px 0 0;
border: solid 1px #dcdcdc;
border-bottom-radius: 5px;
border-bottom-radius: 5px;
-webkit-border-radius: 5px;  
-webkit-border-radius: 5px;
-moz-border-radius: 5px;  
-moz-border-radius: 5px;  
background: #ffffff;
position:relative;
}

.sp_red label { border: solid 1px #e6bbbb; }
.convenience label { padding: 5px 0; }

	.check-group label:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);/*IE7*/
	}

.check-group label.checked {
color: #fff;
border: solid 1px #cc0000;
background-color:#cc0000;
}

.check-group label span { display:none; }
.check-group label.checked span { display:block; position:absolute; top:0; left:64px; z-index:1; }

.check-group label::-moz-selection,
.check-group label::selection {
background: transparent;
}

/* ラジオボタン ============================== */

.radio-group { padding:5px 0 5px 0; }
.radio-group input {
/*
opacity: 0;
 filter: alpha(opacity=0);
*/
}
.radio-group div {
position: relative;
}
.radio-group input {
position: absolute;
left: 0px;
outline:none;
}
.radio-group label {
cursor: pointer;
width:157px;
display:block;
font-size:12px;
line-height:18px;
text-align:center;
padding: 9px 0;
margin:0 5px 0 0;
border: solid 1px #dcdcdc;
border-bottom-radius: 5px;
border-bottom-radius: 5px;
-webkit-border-radius: 5px;  
-webkit-border-radius: 5px;
-moz-border-radius: 5px;  
-moz-border-radius: 5px;  
background: #ffffff;
position:relative;
}

	.radio-group label:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);/*IE7*/
	}

.radio-group label.checked  {
color: #fff;
border: solid 1px #cc0000;
background-color:#cc0000;
}

.radio-group label span { display:none; }
.radio-group label.checked span { display:block; position:absolute; top:0; left:64px; z-index:1; }


/* 開閉 ============================== */

#openArea {
width:auto;
cursor: pointer;
font-size:12px;
line-height:30px;
text-align:right;
text-decoration:underline;
padding:0 15px 0 0;
margin:0 1px 1px 1px;
background:url(../images/bg_openarea.gif) top left repeat-x;
}

	#openArea:hover { text-decoration:none; color:#cc0000; }

/* submit ============================== */

.submit_area {
margin:0;
padding:0 0 10px 0;
text-align:center;
background:url(../images/bg_refine_search_submit.jpg) top center no-repeat;
}

	.submit_area input { margin:0 auto; width:507px; padding:0 0 0 1px; }
	.submit_area input:hover {
	opacity: 0.0;
	filter: alpha(opacity=0);/*IE7*/
	}

/* mainarea ============================== */

.mokuteki_area {
width:auto;
overflow:hidden;
padding:14px;
border-left:1px solid #dcdcdc;
border-bottom:1px solid #dcdcdc;
border-right:1px solid #dcdcdc;
background:url(../images/bg_mokuteki.gif) top left repeat;
}

	.mokuteki_area ul {
	margin:0;
	padding:0;
	list-style:none;
	}
	
	.mokuteki_area ul li {
	font-size:0;
	line-height:0;
	float:left;
	}

.ranking_index_area {
width:640px;
height:216px;
margin:0 0 20px 0;
overflow:hidden;
position:relative;
background:url(../images/bg_ranking_index.jpg) top left no-repeat;
}

.ranking_index_area ul.ranking_list {
width:420px;
margin:0;
padding:0;
list-style:none;
overflow:hidden;
position:absolute;
top:127px;
left:218px;
}

	.ranking_index_area ul.ranking_list li {
	float:left;
	width:160px;
	font-size:14px;
	line-height:25px;
	padding:0 0 7px 30px;
	margin:0 20px 7px 0;
	border-bottom:1px dotted #dcdcdc;
	}

	.ranking_index_area ul.ranking_list li.rank_01 { background:url(../images/list_ranking_01.png) top left no-repeat; }
	.ranking_index_area ul.ranking_list li.rank_02 { background:url(../images/list_ranking_02.png) top left no-repeat; }
	.ranking_index_area ul.ranking_list li.rank_03 { background:url(../images/list_ranking_03.png) top left no-repeat; }


	.ranking_index_area .to_ranking_page {
	width:147px;
	height:27px;
	position:absolute;
	top:173px;
	left:478px;
	}

.column_area {
width:auto;
margin:0 0 20px 0;
border:1px solid #dcdcdc;
box-shadow:0px 0px 0px 1px #ffffff inset;
-box-shadow:0px 0px 0px 1px #ffffff inset;
-webkit-box-shadow:0px 0px 0px 1px #ffffff inset;
background-color:#ff6600;
}

.column_area .col_column {
width:626px;
height:100%;
position:relative;
overflow:hidden;
margin:0 0 6px 6px;
background-color:#ffffff;
}

.column_area .col_column ul {
float:left;
width:426px;
margin:0;
padding:10px 15px 10px 20px;
list-style:none;
}
	
	.column_area .col_column ul li {
	font-size:14px;
	line-height:22px;
	text-align:left;
	padding:7px 0 7px 60px;
	margin:0;
	border-bottom:1px dotted #dcdcdc;
	}

	.column_area .col_column ul li.ninki { background:url(../images/list_column_01.jpg) top left no-repeat; background-position:0px 7px; }
	.column_area .col_column ul li.teiban { background:url(../images/list_column_02.jpg) top left no-repeat; background-position:0px 7px; }

.column_area .col_column .col_column_r {
width:160px;
position:absolute;
left:461px;
bottom:5px;
}





/*	02. 絞り込み検索共通用
----------------------------------------------------------------------- */

.change_search {
width:640px;
}

/* ============================= 絞り込み検索共通用 ============================== */

.change_search .line_box {
clear:left;
width:auto;
padding:1px 0 0 0;
border:1px solid #dcdcdc;
}

.change_search .refine_search table.system_table_sp,
.change_search .refine_search table.system_table { margin:0 0 0 1px; }
.change_search .refine_search table.system_table_sp { border-bottom:1px solid #ffffff; }
.change_search .refine_search table.system_table th,
.change_search .refine_search table.system_table td { border-bottom:1px solid #ffffff; }
.change_search .refine_search table.system_table_sp td,
.change_search .refine_search table.system_table td { padding:8px 10px 8px 10px; }

.change_search .refine_search table.system_table_sp td table.re_search td,
.change_search .refine_search table.system_table td table.re_search td {
width:160px;
font-size:12px;
line-height:18px;
text-align:left;
border-bottom:none;
padding:2px 0 0 0;
}

.change_search .refine_search table.system_table_sp td table.re_search td input,
.change_search .refine_search table.system_table td table.re_search td input { 
margin:0 5px 0 0;
position:relative;
top:2px;
}

.change_search .refine_search table.system_table_sp td table.re_search td.c_icons input,
.change_search .refine_search table.system_table td table.re_search td.c_icons input { 
margin:0 5px 0 0;
position:relative;
top:9px;
vertical-align:top;
}

.change_search .refine_search table.system_table_sp th,
.change_search .refine_search table.system_table th {
width:70px;
font-size:12px;
font-weight:bold;
line-height:14px;
color:#333333;
text-align:left;
padding:10px 10px 10px 47px;
background:url(../images/list_ya_red_01.png) left center no-repeat;
}


/* チェックボックスメイン共通用 ============================== */

.change_search .check-group { padding:10px 0 10px 0; }
.change_search .check-group input { display: none; }

.check-group ul.refine_button {
width:640px;
overflow:hidden;
margin:0;
padding:0;
list-style:none;
text-align:left;
}

	.check-group ul.refine_button li {
	float:left;
	width:315px;
	height:58px;
	display:block;
	margin:0 0 10px 0;
	padding:0;
	}

	.check-group ul.refine_button li.refine_right { margin-right:10px; }
	
	.check-group ul.refine_button li label {
	cursor: pointer;
	width:315px;
	height:58px;
	display:block;
	font-size:12px;
	line-height:18px;
	padding:0;
	margin:0;
	border:none;
	}

.check-group ul.refine_button li.ginkoukei label { background:url(../images/bg_refine_button_01s.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button li.sokujitsu label { background:url(../images/bg_refine_button_03s.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button li.omatome label { background:url(../images/bg_refine_button_02s.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button li.smartphone label { background:url(../images/bg_refine_button_04s.png) top left no-repeat; background-position:0 0; position:relative; }
.check-group ul.refine_button li.ginkoukei label img { position:absolute; top:19px; left:51px; }
.check-group ul.refine_button li.sokujitsu label img { position:absolute; top:18px; left:51px; }
.check-group ul.refine_button li.omatome label img { position:absolute; top:19px; left:51px; }
.check-group ul.refine_button li.smartphone label img { position:absolute; top:19px; left:51px; }

.check-group ul.refine_button li.ginkoukei label:hover,
.check-group ul.refine_button li.sokujitsu label:hover,
.check-group ul.refine_button li.omatome label:hover,
.check-group ul.refine_button li.smartphone label:hover { background-position:0px -58px; background-color:none; }
.check-group ul.refine_button li.ginkoukei label.checked,
.check-group ul.refine_button li.sokujitsu label.checked,
.check-group ul.refine_button li.omatome label.checked,
.check-group ul.refine_button li.smartphone label.checked { background-position:0px -116px; border:none; }
.check-group ul.refine_button li.ginkoukei label.checked:hover,
.check-group ul.refine_button li.sokujitsu label.checked:hover,
.check-group ul.refine_button li.omatome label.checked:hover,
.check-group ul.refine_button li.smartphone label.checked:hover { background-position:0px -174px; border:none; }

	.check-group ul li label:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);/*IE7*/
	}


/* チェックボックス共通用 ============================== */

.change_search label {
cursor: pointer;
width:150px;
font-size:12px;
line-height:18px;
padding:0;
margin:0;
}

/* ラジオボタン共通用 ============================== */

.change_search label {
cursor: pointer;
width:150px;
font-size:12px;
line-height:18px;
padding:0;
margin:0;
}


/* 開閉共通用 ============================== */

.change_search #openArea {
width:auto;
cursor: pointer;
font-size:12px;
line-height:30px;
text-align:right;
text-decoration:underline;
padding:0 15px 0 0;
margin:0 1px 1px 1px;
background:url(../images/bg_openarea.gif) top left repeat-x;
}

	#openArea:hover { text-decoration:none; color:#cc0000; }

/* submit共通用 ============================== */

.change_search .submit_area_s {
margin:0;
padding:0 0 10px 0;
text-align:center;
background:url(../images/bg_refine_search_submit_s.jpg) top center no-repeat;
}

	.change_search .submit_area_s input { margin:0 auto; width:427px; padding:0  0 0 1px; }
    .change_search .submit_area_s input:hover {
	opacity: 0.0;
	filter: alpha(opacity=0);/*IE7*/
	}





/* 03. 検索後ページ
----------------------------------------------------------------------- */

.result_area {
width:960px;
margin:0 auto;
padding:15px 0 20px 0;
}

.st_result {
font-size:12px;
text-align:left;
color:#333333;
line-height:36px;
padding:4px 0 0 26px;
background:url(../images/bg_txt_searchresult.jpg) bottom left repeat-x;
}

ul#tab {
width:auto;
overflow:hidden;
margin:0;
padding:0 0 0 5px;
list-style:none;
border-bottom:5px solid #2896e6;
}
	
	ul#tab li {
	float: left;
	font-size: 14px;
	letter-spacing:0.1em;
	margin:0 5px 0 0;
	padding:0;
	text-align:center;
	}
	
	ul#tab li a {
	width:184px;
	display:block;
	line-height:35px;
	padding:3px 0 0 0;
	color: #333333;
	font-weight:bold;
	text-decoration:none;
	outline:none;
	border-left: 1px solid #c9c9c9; border-top: 1px solid #c9c9c9; border-right: 1px solid #c9c9c9;
	border-radius: 6px 6px 0 0;
	box-shadow:1px 1px 0px 0px #ffffff inset;
	-box-shadow:1px 1px 0px 0px #ffffff inset;
	-webkit-box-shadow:1px 1px 0px 0px #ffffff inset;
	background: #f3f3f3;
	}
	
	ul#tab li a:hover,
	ul#tab li.current {
	width:184px;
	font-weight:bold;
	text-shadow:1px 1px 1px #147cc7;
	line-height:35px;
	padding:3px 0 0 0;
	color:#ffffff;
	border-left:1px solid #2896e6; border-top:1px solid #2896e6; border-right:1px solid #2896e6;
	border-radius: 6px 6px 0 0;
	box-shadow:1px 1px 0px 0px rgba(255,255,255,0.5) inset;
	-box-shadow:1px 1px 0px 0px rgba(255,255,255,0.5) inset;
	-webkit-box-shadow:1px 1px 0px 0px rgba(255,255,255,0.5) inset;
	background:#2896e6 url(../images/bg_tab_btn_m.gif) top left repeat-x;
	}



table.result_table {
width:960px;
clear:both;
border-top:1px solid #dcdcdc;
}

	table.result_table th,
	table.result_table td { border-bottom:1px solid #dcdcdc; }
	
	table.result_table th {
	width:100px;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	line-height:14px;
	padding:8px 10px 9px 10px;
	color:#3579aa;
	background:#e6f5ff url(../images/line_w.gif) bottom left repeat-x;
	border-top:1px solid #ffffff;
	}
	
	table.result_table td {
	font-size:12px;
	text-align:left;
	line-height:14px;
	padding:8px 10px;
	color:#333333;
	background-color:#ffffff;
	}

.txt_result_change {
font-size:12px;
line-height:30px;
margin:0 0 10px 0;
padding:0 16px 0 0;
text-align:right;
background:url(../images/list_ya_red_03.gif) top right no-repeat;
}

table.card_list { width:960px; background-color:#dcdcdc; border-top:1px solid #dcdcdc; border-left:1px solid #dcdcdc; }

	table.card_list th,
	table.card_list td {
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	}

	table.card_list th {
	font-size:12px;
	font-weight:normal;
	line-height:14px;
	color:#333333;
	padding:10px 0px;
	text-align:center;
	vertical-align:middle;
	background:#f5f5f5 url(../images/bg_cardlist_th.gif) bottom left repeat-x;
	}
	
	table.card_list th img { margin:8px 2px 0 2px; }

	table.card_list td {
	font-size:12px;
	line-height:18px;
	color:#333333;
	text-align:center;
	vertical-align:middle;
	padding:10px
	}
	
	table.card_list tr.sp_card td { background:#fff8e3 url(../images/bg_cardlist_sp.gif) top left repeat-x; }
	table.card_list tr.sp_card td.card_list_sort { background-color:#f5f5f5; background-image:none; }
	
	table.card_list td.card_list_sort { padding:0; background-color:#f5f5f5; background-image:none; text-align:center; }
	table.card_list td.sortup { padding-top:5px; vertical-align:top; border-bottom:none;  }
	table.card_list td.sortdown { padding-bottom:5px; vertical-align:bottom; }

	table.card_list td.card_list_face img { margin:5px 0 0 0; }
	table.card_list td.card_list_txt { text-align:left; padding:10px 15px; }

	.btn_delete { margin:5px 0 0 0; }




/* 04. スピードキャッシング・チェック
----------------------------------------------------------------------- */

.flash_scc { width:640px; padding-top:30px; }

.sticker_area_01 { background:url(../images/sticker_01.jpg) bottom right no-repeat; }
.sticker_area_02 { background:url(../images/sticker_02.jpg) bottom right no-repeat; }
.sticker_area_03 { background:url(../images/sticker_03.jpg) bottom right no-repeat; }
.sticker_area_04 { background:url(../images/sticker_04.jpg) bottom right no-repeat; }

.sticker_area_01,
.sticker_area_02,
.sticker_area_03,
.sticker_area_04 {
width:auto;
padding:0 160px 5px 0;
margin:0 10px 0 0;
font-size:14px;
line-height:22px;
color:#333333;
}





/* 05. コンテンツ原稿
----------------------------------------------------------------------- */

ul.page_move {
width:630px;
height:61px;
padding:0 5px;
margin:40px 0;
list-style:none;
overflow:hidden;
background:url(../images/bg_page_move.jpg) top left no-repeat;
}

	ul.page_move li {
	float:left;
	width:200px;
	font-size:14px;
	line-height:40px;
	margin:0;
	padding:0 5px;
	}
		
		ul.page_move li.prev_page			{ text-align:left; }
		ul.page_move li.contents_top_page	{ text-align:center; }
		ul.page_move li.next_page			{ text-align:right; }





/* 06. シミュレーション
----------------------------------------------------------------------- */

.sst_simulation {
width:auto;
margin:0 0 20px 0;
padding:0 0 0 34px;
font-size:14px;
font-weight:bold;
color:#333333;
line-height:41px;
background:url(../images/bg_sst_simulation.jpg) top left no-repeat;
}

.sst_simulation span {
padding:0 0 0 20px;
font-size:10px;
color:#333333;
letter-spacing:0;
text-align:left;
}

ul.sim_error {
width:auto;
margin:0 0 20px 0;
padding:16px 20px;
border:3px dashed #ff0000;
list-style:none;
}

	ul.sim_error li {
	font-size:14px;
	font-weight:bold;
	line-height:22px;
	color:#ff0000;
	margin:0;
	padding:0;
	}

form.simulation_area { margin:0 0 40px 0; padding:0; }

form.simulation_area th {
font-size:12px;
line-height:18px;
color:#333333;
padding:14px;
text-align:left;
border:1px solid #ffffff;
background-color:#fbe8e8;
}

form.simulation_area td {
font-size:12px;
line-height:20px;
color:#333333;
padding:12px 14px;
text-align:left;
border:1px solid #ffffff;
background-color:#ffffff;
}

	form.simulation_area td label { cursor: pointer; }
	
	form.simulation_area td table.inner_table th,
	form.simulation_area td table.inner_table td,
	form.simulation_area td table.inner_table_c th,
	form.simulation_area td table.inner_table_c td { padding:0; border:none; }

	form.simulation_area td table.inner_table_c td input {
	margin:0 5px 0 0;
	position:relative;
	top:2px;
	}

	.normal_txtfield {
	font-size:14px;
	line-height:20px;
	color:#333333;
	border:0;
	border:solid 1px #dcdcdc;
	padding:5px;
	margin:0 10px 0 0;
	width:100px;
	vertical-align:middle;
	}

	.normal_select {
	font-size:14px;
	line-height:20px;
	color:#333333;
	border:0;
	border:solid 1px #dcdcdc;
	margin:0 10px 0 0;
	width:100px;
	vertical-align:middle;
	}

form.simulation_area .submit_sim {
	margin:0;
	padding:1px 0 10px 0;
	text-align:center;
	background:url(../images/bg_sim_submit.jpg) top center no-repeat;
}

	form.simulation_area .submit_sim input { margin:0 auto; width:402px; height:61px; padding:1px 0 0 0; }
    form.simulation_area .submit_sim input:hover {
	opacity: 0.0;
	filter: alpha(opacity=0);/*IE7*/
	}

.sim_result {
width:640px;
height:251px;
margin:0 0 40px 0;
background:url(../images/bg_sim_result.jpg) top left no-repeat;
}

	.sim_result .sst_sim_result {
	float:left;
	width:200px;
	margin:0;
	padding:30px 25px 33px 25px;
	}

	.sim_result .sim_result_price {
	float:left;
	width:115px;
	font-size:54px;
	line-height:60px;
	color:#ff0000;
	text-align:right;
	padding:18px 0 0 0;
	}
	
	.sim_result .sim_result_txt {
	clear:both;
	width:405px;
	height:102px;
	padding:0 0 11px 20px;
	}
	
	.sim_result .sim_result_stxt {
	width:640px;
	font-size:12px;
	line-height:33px;
	color:#ffffff;
	text-align:center;
	}

/* 07. コラム
----------------------------------------------------------------------- */
.floatLeft {
	float:left;
	margin:0 20px 0 0;
	}
	
.floatLeft2 {
	float:left;
	margin:-40px 20px 0 -20px;
	}
	
.floatLeft3 {
	float:left;
	margin:-40px 15px 5px -20px;
	}	
	
.floatLeft4 {
	float:left;
	margin:-40px 20px 10px -30px;
	}
	


.floatRight {
	float:right;
	margin:0 0 0 20px;
	}

.frame2 { 
    width:135px;
    height:auto;
	float:left;
	background-color:#FFF;
	margin:0 20px 20px 10px;
	
}

.frame2 img {
	margin:0;
	clear:both;
	padding:5px 5px 10px 5px;
}


.frame2 .info_text {
	font-size:16px;
	line-height:20px;
	color:#333;
	text-align:center;
	margin:0 0 -10px -20px;
	}

.temp_st {
	width:auto;
	border:4px solid #EEE;
	margin-bottom:10px;
	clear:both;
	}


.temp_st_inner {
	width:auto;
	height:auto;
	padding:20px;
	}

.temp_st_inner2 {
	width:auto;
	height:auto;
	padding:0 20px 20px 20px;
	}

.temp_st_inner3 {
	width:auto;
	height:auto;
	padding:0;
	}

.temp_st .column_p {
	font-size:16px;
	line-height:24px;
	color:#333333;
	}
	

.temp_h2 {
	width:640px;
	height:53px;
	overflow:hidden;
	background:url(../images/column/temp_h2.gif) top left no-repeat;
	color:#bf1a20;
	}

.temp_h2 h2 {
	width:auto;
	font-size:20px;
	padding-top:15px;
	padding-left:38px;
	text-shadow:1px 1px 3px #CCC;
	line-height:22px;
	}

.temp_h3_01{
	width:632px;
	height:44px;
	background:url(../images/column/temp_h3_01.gif) top left no-repeat;
	}

.temp_h3_01 h3 {
	width:auto;
	color:#333;
	font-size:18px;
	padding:10px 0 0 43px;
	line-height:22px;
	text-shadow:1px 1px 3px #ccc;
	}
	
.temp_h3_02 {
	width:632px;
	height:44px;
	background:url(../images/column/temp_h3_02.gif) top left no-repeat;
	}
	
.temp_h3_02 h3 {
	width:auto;
	color:#FFF;
	font-size:18px;
	padding:10px 0 0 43px;
	line-height:22px;
	}
	
.temp_h4_01 {
	width:592px;
	height:40px;
	overflow:hidden;
	background:url(../images/column/temp_h4_01.png) top left no-repeat;
	margin:10px 0;
	}
	
.temp_h4_01 h4 {
	width:auto;
	color:#333;
	font-size:16px;
	padding:9px 0 0 43px;
	line-height:24px;
	}
	
.temp_h4_02 {
	width:592px;
	height:40px;
	overflow:hidden;
	background:url(../images/column/temp_h4_02.gif) top left no-repeat;
	margin:10px 0;
	}
	
.temp_h4_02 h4 {
	width:auto;
	color:#333;
	font-size:16px;
	padding:9px 0 0 28px;
	line-height:24px;
	}


.temp_ph {
	box-shadow:rgba(204, 204, 204, 0.3) 0 3px 3px 0;
    -webkit-box-shadow:rgba(204, 204, 204, 0.3) 0 3px 3px 0;
    -moz-box-shadow:rgba(204, 204, 204, 0.3) 0 3px 3px 0;
    border:8px solid #FFF;
    margin-bottom:20px;
	}



.temp_bg_yellow {
	width:552px;
	height:auto;
	overflow:hidden;
	background:url(../images/column/temp_bg_yellow.gif);
	background-repeat:repeat;
    padding:20px;
	}

.temp_ichioshi_set {
	width:180px;
	float:left;
	background-color:#FFF;
	text-align:center;
	padding-bottom:10px;
	float:left;
	}
	
.temp_ichioshi_set p {
	padding:10px 0 0 0;
	}
	
.temp_btn_shousai {
	float:left;
	margin:5px 3px 10px 10px;
	}
	
.temp_btn_form {
	float:right;
	margin:5px 10px 10px 0;
	}
	
.temp_ichioshi_detail {
	width:352px;
	float:left;
	padding-left:20px;
	}
	
.temp_ichioshi_detail table {
	width:352px;
	border:1px solid #DDD;
	border-collapse:collapse;
	}
	
.temp_ichioshi_detail table th {
	border:1px solid #DDD;
	border-collapse:collapse;
	background-color:#EEE;
	font-weight:bold;
	font-size:14px;
	padding:5px;
	line-height:18px;
	text-align:center;
	}
	
.temp_ichioshi_detail table td {
	border:1px solid #DDD;
	border-collapse:collapse;
	background-color:#FFF;
	font-weigh:normal;
	font-size:14px;
	padding:5px;
	line-height:18px;
	text-align:center;
	}
	
 ul.temp_ul_ichioshi {
	list-style:none;
	margin:10px 0 0;
	padding:0;
	}
	
ul.temp_ul_ichioshi li {
	background:url(../images/column/temp_list_sankaku.png) 0 5px no-repeat;
	padding-left:18px;
	line-height:24px;
	}
	
.temp_ichioshi_imgSet {
	width:550px;
	padding-top:10px;
	clear:both;
	}
	
.temp_ichioshi_img {
	width:94px;
	margin-right:20px;
	clear:left;
}


.arrow_box01 {
	width:410px;
	border-radius:3px;
	background: #ffffff;
	border: 2px solid #cc0000;
	float:right;
	padding:10px;
	position:relative;
	}

.arrow_box01:after,
.arrow_box01:before {
	right: 100%;
	top: 40px;
	border:2px solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	content:" ";
	} 

.arrow_box01:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
	} 
	
.arrow_box01:before {
	border-color: rgba(204, 0, 0, 0);
	border-right-color: #cc0000;
	border-width: 13px;
	margin-top: -13px;
	}

.temp_osusume_h4 {
	background:url(/images/column/temp_osusume_title.png);
	background-repeat:no-repeat;
	height:97px;
	margin:-10px 0 0 0;
	}
	
.temp_osusume_h4 h4 {
	font-size:16px;
	color:#333;
	line-height:18px;
	margin:0 0 0 110px;
	padding-top:40px;
	}
	
.temp_osusumeSt {
	width:552px;
	border-left:4px solid #acd8ef;
	border-right:4px solid #acd8ef;
	border-bottom:4px solid #acd8ef;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    padding:0 16px 0 16px;
	overflow:hidden;
	}
	
.temp_osusumeSt_set p {
	padding:10px 0 0 0;
	font-size:16px;
	font-weight:normal;
	line-height:24px;
	color:#333333;
	}

.temp_osusumeSt_set {
	width:190px;
	float:left;
	border:2px solid #DDD;
	text-align:center;
	padding-bottom:10px;
	margin-bottom:10px;
	}
	
.temp_osusumeSt_text {
	width:340px;
	margin-left:210px;
	}

.temp_osusumeSt_text p {
	padding-bottom:5px;
	font-size:16px;
	font-weight:normal;
	line-height:24px;
	color:#333333;
	}
	
.temp_osusume_line {
	width:552px;
	height:4px;
	border:none;
	background:url(../images/column/temp_line.gif) no-repeat;
	clear:both;
	}

.temp_hikaku_inner {
	height:246px;
	background:url(../images/column/temp_illust01.png) no-repeat;
	margin:8px 7px 20px 6px;
	}
	
.temp_hikaku_inner .temp_hikaku_left {
	width:159px; 
	float:left;
	margin-top:33px;
	margin-left:95px;
	text-align:center;
	}

	
.temp_hikaku_inner .temp_hikaku_right {
	width:159px; 
	float:right;
	margin-top:33px;
	margin-right:95px;
	text-align:center;
	}
	
.temp_hikaku_inner .temp_hikaku_left p,
.temp_hikaku_inner .temp_hikaku_right p {
	margin-top:14px;
	color:#FFF;
	font-weight:bold;
	}
	
.temp_hikaku_inner .temp_hikaku_left p:hover,
.temp_hikaku_inner .temp_hikaku_right p:hover {
	color:#FFF; text-decoration:none;
	}

.temp .temp_hikaku_inner .temp_hikaku_left p a,
.temp .temp_hikaku_inner .temp_hikaku_right p a { text-align:center; color:#FFF;}


.temp_kumiawase_inner {
	height:313px;
	background:url(../images/column/temp_illust02.png) no-repeat;
	margin:20px;
	}
	
.temp_kumiawase_inner .temp_kumiawase_left {
	width:148px;
	float:left;
	margin-top:20px;
	margin-left:22px;
	text-align:center;
	}
	
.temp_kumiawase_inner .temp_kumiawase_left p {
	margin-top:7px;
	color:#333;
	}
	
.temp_kumiawase_inner .temp_kumiawase_right{
	width:148px; 
	float:right;
	margin-top:20px;
	margin-right:22px;
	text-align:center;
	}
	
.temp_kumiawase_inner .temp_kumiawase_right p {
	margin-top:7px;
	color:#333;
	}



.temp_check_set {
	width:580px;
	margin:20px;
	border:4px solid #f7941d;
	border-radius:4px;
	background:url(../images/column/temp_bg_01.gif) left top;
	float:left;
	}
	

	
.temp_check_text {
	width:auto;
	float:left;
	padding:20px 10px 0 0;
	}
.temp_check_text p {
	font-size:16px;
	font-weight:normal;
	padding:0 0 20px 20px;
	line-height:24px;
	color:#333333;
}

.temp_point_set {
	width:580px;
	margin:20px;
	border:4px solid #364a5f;
	border-radius:4px;
	background:url(../images/column/temp_bg_02.gif)  repeat;
	float:left;
	}
	

	
.temp_point_text {
	width:auto;
	float:left;
	padding:20px 10px 0 0;
	}

.temp_point_text p {
	font-size:16px;
	font-weight:normal;
	padding:0 0 20px 20px;
	line-height:24px;
	color:#333333;
}
	
.temp_point_text .temp_point_h4 {
	width:380px;
	background-color:#364a5f;
	padding:5px;
	margin-bottom:10px;
	margin-left:170px;
	}
	
.temp_point_text .temp_point_h4 h4 {
	border-left: 2px solid #ffea00;
	color:#FFF;
	font-size:16px;
	line-height:16px;
	padding:5px 5px 5px 10px;
	}


.temp_chumoku_set {
	width:580px;
	margin:20px;
	border:4px solid #364a5f;
	border-radius:4px;
	background:url(../images/column/temp_bg_03.gif)  repeat; 
    border: 4px solid #cc0000;
	float:left;
	position:relative;
	} 
	
.temp_chumoku_set:after,
.temp_chumoku_set:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	content:" ";
	}
	
.temp_chumoku_set:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color:#f9caca;
	border-width: 10px;
	margin-left: -10px;
}

.temp_chumoku_set:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #cc0000;
	border-width: 16px;
	margin-left: -16px;
	}


.temp_chumoku_text {
	width:auto;
	float:right;
	padding:20px 15px 0 0;
	}
	
.temp_chumoku_text p {
	font-size:16px;
	font-weight:normal;
	padding:0 0 20px 10px;
	line-height:24px;
	color:#333333;
	width:540px;
}

.temp_fukidashi_right {
	width:360px;
	padding:20px;
	float:left;
	background: #FFF;
	border: 2px solid #DDD;
	border-radius: 5px;
	position: relative;
	} 
	
.temp_fukidashi_right p {
	font-size:16px;
	font-weight:normal;
	padding:0;
	line-height:24px;
	color:#333333;
}


.temp_fukidashi_right:after,
.temp_fukidashi_right:before {
	right: 100%;
	top:50px;
	border:solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	content:" ";
	} 
	
.temp_fukidashi_right:after {
	border-color:rgba(136, 183, 213, 0);
	border-right-color: #FFF;
	border-width: 10px;
	margin-top: -10px;
	} 
	
.temp_fukidashi_right:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #DDD;
	border-width: 13px;
	margin-top: -13px;
	}

.temp_fukidashi_left {
	width:360px;
	float:right;
	position:relative;
	background:#FFF;
	border: 2px solid #DDD;
	border-radius: 5px;
	padding:20px;
	} 
	
.temp_fukidashi_left p {
	font-size:16px;
	font-weight:normal;
	padding:0;
	line-height:24px;
	color:#333333;
}
	
.temp_fukidashi_left:after,
.temp_fukidashi_left:before {
	left: 100%;
	top:50px;
	border: solid transparent;
	height: 0;
	width: 0;
	position:absolute;
	pointer-events: none;
	content:" ";
	} 
	
.temp_fukidashi_left:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #FFF;
	border-width: 10px;
	margin-top: -10px;
	} 
	
.temp_fukidashi_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #DDD;
	border-width: 13px;
	margin-top: -13px;
	}



.temp_sono_bg_01 {
	background-color:#fff9eb;
	margin:5px;
	}

.temp_sono_set_01 {
	border-radius:5px;
    border:2px solid #CC0000;
    background:url(../images/column/temp_bg_04.gif) top no-repeat #FFF;
	padding:18px;
	 }
	 
.temp_sono_set_01 p { 
    font-size:16px;
	font-weight:normal;
	line-height:24px;
	color:#333333;
	width:auto;
	margin:5px 0 0 10px;
	 }	 

.temp_sono_h4_01 {
	width:556px;
	height:110px;
	background:url(../images/column/temp_midashi_01.png) no-repeat;
	margin:-30px 0 0 -6px;
	position:relative;
	}

.temp_sono_h4_01 h4 {
	padding:50px 0 0 132px;
	color:#FFF;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	}

.temp_sono_set_01 dl,
.temp_sono_set_02 dl {
	width:580px;
	overflow:hidden;
	margin:0 0 0 5px;
}

.temp_sono_set_01 dl dt,
.temp_sono_set_02 dl dt { width:58px; float:left; }
	
.temp_sono_set_01 dl dd,
.temp_sono_set_02 dl dd {
	width:470px;
    list-style:none;
	padding:0 0 3px 0;
	margin:0 0 10px 10px;
	float:left;
	font-size:16px;
	line-height:24px;
	color:#333333;
	}
.temp_sono_set_01 dl dd {
	border-bottom:1px dotted #CC0000;
}

.temp_sono_set_02 dl dd {
	border-bottom:1px dotted #1c87f4; 
}
	
	
.temp_sono_bg_02 {
	background-color:#fff9eb;
	margin:5px;
	}
.temp_sono_set_02 {
	border-radius:5px;
	border:2px solid #1c87f4;
	background:url(../images/column/temp_bg_05.gif) top no-repeat #FFF;
	padding:18px;
	}

.temp_sono_h4_02 {
	width:556px;
	height:110px;
	background:url(../images/column/temp_midashi_02.png) no-repeat;
	margin:-30px 0 0 -6px;
	position:relative;
	}

.temp_sono_h4_02 h4 {
	padding:50px 0 0 132px;
	color:#FFF;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	}

di.number_list {padding:0; }
.number_list dt { width:22px; float:left; padding-bottom:5px; }
.number_list dd	{ 
    font-size:16px;
	line-height:24px;
	color:#333333;
	padding-bottom:5px;
}
	
/* テーブル */

.frame {
width:auto;
margin:20px 0 0 0;
border:5px solid #F8C0C0;
}

.frame_gray {
width:auto;
margin:20px 0 0 0;
border:3px dotted #efefef;
}

table.table1,
table.table2,
table.table3 {
border:1px solid #BE1A20;
border-collapse:collapse;
}

	table.table1 th,
	table.table1 td,
	table.table2 th,
	table.table2 td,
	table.table3 th,
	table.table3 td {
	font-size:16px;
	line-height:22px;
	padding:12px;
	border:1px solid #BE1A20;
	}
	
	
	
	table.table1 th,
	table.table2 th { color:#961C21; background-color:#FCEBEC; }
	table.table3 th { color:#961C21; background-color:#FCEBEC; text-align:left; vertical-align:top; }
	
	table.table1 td,
	table.table2 td,
	table.table3 td { color:#333333; background-color:#ffffff; }
	
    table.table1 th a,
	table.table2 th a,
	table.table3 th a { color:#961C21; }
	
	table.table1 td { text-align:left; vertical-align:top; }
	table.table2 td { text-align:center; vertical-align:top; }
	table.table3 td { text-align:left; vertical-align:top; }

ul.list_01 { padding-left:12px;
}

ul.list_02 { padding-left:12px;
line-height:20px;

}

ul.list_01 li { list-style:square;
color:#961C21;
}

ul.list_02 li { list-style:square;
color:#003366;
}

ul.list_01 li span,
ul.list_02 li span { color:#000;
}


/* ページ送り */

ul.page_move_column {
width:630px;
height:61px;
padding:0 5px;
margin:20px 0 10px 0;
list-style:none;
overflow:hidden;
background:url(../images/column/bg_page_move_column.jpg) top left no-repeat;
clear:both;
}

	ul.page_move_column li {
	float:left;
	width:177px;
	font-size:14px;
	line-height:44px;
	margin:0;
	padding:0 5px;
	}
		
		ul.page_move_column li.prev	{
			text-align:left;
			padding:0 0 0 43px;
			}
			
		ul.page_move_column li.prev a:hover {
			color:#063;
		    }
			
		ul.page_move_column li.top_page	{
			text-align:center;
			color:#FFF;
			}
			
		ul.page_move_column li.top_page	a {
			text-align:center;
			color:#FFF;
			}
			
		ul.page_move_column li.top_page a:hover {
			color:#FFF;
			text-decoration:none;
			}
		
		ul.page_move_column li.next {
			text-align:right;
			padding:0 0 0 0;
			}

		ul.page_move_column li.nex a:hover {
			color:#063;
			}
			
a:hover.op img {
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
    }

/* 文字装飾 */
.red2 {color:#e73f00;}
.blue {color:#03C;}
.yellow2 {background-color:#fce9bd;
padding:3px 3px;
}