@charset "shift_jis";

/* ==================================================
  Browser Reset & Base CSS

 -----------------------------------------
INDEX
 -----------------------------------------

  01.Browser Reset
  02.Structure Module
  03.Text Module
  04.Hypertext Module
  05.List Module
  06.Forms Module
  07.Tables Module
  08.hidden Module
  09.speace Module
  10.text Module
  
 -----------------------------------------
font size
 -----------------------------------------
8px		0.8em
10px	1em
12px	1.2em
13px	1.3em
14px	1.4em
 -----------------------------------------*/
 
 
/* ==========================================
 01.Browser Reset
========================================== */
html {
height:100%;
}
body {
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
font-size:12px;
color:#000;
line-height:1.4;
font-style:normal;
margin:0;
padding:0;
height:100%;
}



div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,table,th,td,address {
margin:0;
padding:0;
font-size:100%;
}

select,
input,
textarea {
font-size: 100%;
}

img {
border: 0;
vertical-align: bottom;
padding:0;
margin:0;
}

h1,h2,h3,h4,h5,h6 {
clear: both;
font-size: 100%;
margin:0;
padding:0;
}

ul,dl {
list-style-type: none;
list-style-position: outside;
text-indent: 0;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

th,td {
text-align: left;
vertical-align: middle;
}



/* ==========================================
 02.Structure Module
========================================== */

hr {
display:none;
}

address {
font-style:normal;
font-size:1.3em;
line-height:1.6;
}

/* ==========================================
 03.Text Module
========================================== */
/* h*/
h1 {
font-size:2.3em;/* 23px */
margin:0;
padding:0;
line-height:1;
}
h2 {
font-size:1.4em;/* 14px */
line-height:1\9; /* IE8 and below */
}
h3,
h4,
h5,
h6 {
font-size:1.4em;/* 14px */
line-height:1\9; /* IE8 and below */
}
p,dl,ul,ol,pre,blockquote {
font-size:1em;/*10px*/
line-height:1.3\9;  /* IE8 and below */
}
p,ul,ol,dl,table,dt,dd {
margin-top:0.5em;
}
dt {
font-weight:bold;
}
em {
font-style:normal;
font-weight:bold;
margin-top:1em;
color:#f66;
}

strong {
font-style:normal;
font-weight:bold;
}

abbr,
acronym {
font-size:1.1em;/*11px*/
border-bottom:0;
cursor:help;
}

/* ==========================================
 04.Hypertext Module
========================================== */

a:link {
color:#039;
text-decoration:underline;
vertical-align: baseline;
}

a:visited {
color:#636;
text-decoration:none;
vertical-align: baseline;
}

a:hover,
a:active,
a:focus {
color:#f33;
vertical-align: baseline;
text-decoration:underline;
}

/* ==========================================
 05.List Module
========================================== */

ol {
list-style-position:outside;
text-indent:0;
padding-left:2em;
}

li {
margin:8px 0 0 0;
}
li li,
li p,
li dt,
li dd,
dd li,
dd p,
dd dt,
dd dd {
font-size:1em;/*10px*/
}

/* ==========================================
 06.Forms Module
========================================== */
form {
}

fieldset {
border:0;
}

label {
font-size: 1.3em;
vertical-align:middle;
}

input, select {
line-height:1.6;
vertical-align:middle;
font-size: 1.3em;
}

input.text {
padding:0.2em;
border:1px solid #999;
font-family:monospace;
}

textarea {
width: 99%;
border: solid 1px #999;
}

/* ==========================================
 07.Tables Module
========================================== */
table {
margin:10px 0;
border:none;
}

table caption {
text-align: left;
font-weight:bold;
font-size:1.6em;/*16px*/
}

th, td {
line-height:1.3;
font-size:1em;/*10px*/
}

th {
margin:0;
padding:0.6em 1em;
white-space: nowrap;
vertical-align:top;
font-weight:normal;
}
td {
margin:0;
padding:0.6em 0.3em;
}

/* ==========================================
 08.hidden Module
========================================== */

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}

* html .clearfix {
height: 1%;
}

.hidden {
display:none;
}

.reader {
position:absolute;
z-index:100;
top:0px;
right:0px;
display:run-in;
width:1px;
height:1px;
margin:0;
padding:0;
border-style:none;
overflow:hidden;
}


/* ==========================================
 09.speace Module
========================================== */
mt10 {margin-top:10px}
mt20 {margin-top:20px}
mt30 {margin-top:30px}
mt40 {margin-top:40px}
mt50 {margin-top:50px}

mb10 {margin-bottom:10px}
mb20 {margin-bottom:20px}
mb30 {margin-bottom:30px}
mb40 {margin-bottom:40px}
mb50 {margin-bottom:50px}

ml10 {margin-left:10px}
ml20 {margin-left:20px}
ml30 {margin-left:30px}
ml40 {margin-left:40px}
ml50 {margin-left:50px}

mr10 {margin-right:10px}
mr20 {margin-right:20px}
mr30 {margin-right:30px}
mr40 {margin-right:40px}
mr50 {margin-right:50px}

pt10 {padding-top:10px}
pt20 {padding-top:20px}
pt30 {padding-top:30px}
pt40 {padding-top:40px}
pt50 {padding-top:50px}

pb10 {padding-bottom:10px}
pb20 {padding-bottom:20px}
pb30 {padding-bottom:30px}
pb40 {padding-bottom:40px}
pb50 {padding-bottom:50px}

pl10 {padding-left:10px}
pl20 {paddingleft:20px}
pl30 {padding-left:30px}
pl40 {padding-left:40px}
pl50 {padding-left:50px}

pr10 {padding-right:10px}
pr20 {padding-right:20px}
pr30 {padding-right:30px}
pr40 {padding-right:40px}
pr50 {padding-right:50px}


/* ==========================================
 10.text Module
========================================== */
.yellow{background:#FDFC77; }
.red { color:#FF0000; }
.blue { color:#0000FF; }
.skyblue { color:#11A7CC; }