<form action="<%cgi%>" name="form1" method="post" <%target%>>
  <table align=center cellpadding="0" cellspacing="8">
    <%__START-FORM-LINE__%>
    <tr bgcolor="#D8D4CB">
      <td colspan="2" bgcolor="#FFCACA"><img src="<%__IMGPATH__%>spacer01.gif" width="1" height="1"></td>
    </tr>
    <tr>
      <td width=155 valign="top"><strong><font size="2">
        <%name%>
        </font></strong></td>
      <td><%form%></td>
    </tr>
    <%__END-FORM-LINE__%>
    <tr bgcolor="#D8D4CB">
      <td colspan="2" bgcolor="#FFCACA"><img src="<%__IMGPATH__%>spacer01.gif" width="1" height="1" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><br>
        <br>
        <input type="<%submit%>" value="ëóêM" <%javascript%>>
        <%hidden%>
      </td>
    </tr>
  </table>
</form>
